body {
  font-family: 'Muli', sans-serif;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #ab66ff 0%, #74b6f7 90%);
  margin: 0px; }

:root {
  --animate-duration: 1500ms;
  --animate-delay: 0.9s; }

h1 {
  letter-spacing: 2px;
  color: #41BBD9;
  font-style: italic;
  font-size: 2.5rem; }
  h1 .mitadLogo {
    text-transform: uppercase; }

h2 {
  padding-top: 50px;
  display: flex;
  justify-content: center; }

h3 {
  padding-left: 10px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center; }

a {
  color: whitesmoke;
  text-decoration: none;
  padding: 6px; }
  a:hover {
    color: #41BBD9;
    transition: 250ms all;
    text-decoration: none; }

/*header*/
header {
  background-color: #212529;
  height: 5.2rem;
  width: 100%; }
  header .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header .header nav {
      width: 100%; }

/*footer*/
footer {
  background-color: #09182c;
  margin-top: 4rem;
  flex-shrink: 0;
  padding-top: 2rem; }
  footer img {
    width: 40px; }

/*Table*/
.product-Content {
  display: flex;
  justify-content: center;
  flex-direction: row; }
  .product-Content table {
    display: flex;
    justify-content: center;
    width: 20rem; }
    .product-Content table tr, .product-Content table td {
      padding: 20px;
      border: 1px solid;
      color: whitesmoke;
      background-color: #09182c;
      opacity: 0.9;
      border-color: black; }
    .product-Content table img {
      width: 90%;
      height: 60px; }

.sitios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .sitios .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    background-color: #09182c;
    color: whitesmoke; }
    .sitios .card img {
      width: 70%;
      height: 50%; }
    .sitios .card:hover {
      transform: scale(1.1);
      transition: 300ms all; }
    .sitios .card h5 {
      display: flex;
      justify-content: center;
      font-weight: bolder; }
    .sitios .card p {
      margin-bottom: 10%; }
    .sitios .card a {
      display: flex;
      justify-content: center; }

.faq h3 {
  margin-bottom: 2rem; }

.faq #accordion {
  color: whitesmoke; }
  .faq #accordion .card {
    background-color: #09182c; }
    .faq #accordion .card button {
      color: whitesmoke;
      font-weight: bolder; }

/*contenido*/
section {
  padding: 2rem; }

article {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  padding-top: 40px; }

p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5px; }

.descripcion p {
  display: flex;
  justify-content: center;
  width: 80%; }

/***************Carousel**************/
.carrusel {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; }
  .carrusel .interior {
    width: 40%;
    padding: 0%; }
    .carrusel .interior .carousel-inner img {
      border-radius: 5%;
      transform: none; }

.faq .accordion {
  background-color: #09182c;
  color: whitesmoke; }
  .faq .accordion h2 {
    padding: 10px;
    background-color: #09182c; }
  .faq .accordion .accordion-button {
    background-color: #09182c;
    color: whitesmoke; }
  .faq .accordion .accordion-header {
    background-color: #09182c; }
  .faq .accordion .accordion-item {
    background-color: #3988ee; }
  .faq .accordion .accordion-body {
    background-color: transparent; }

/**/
.animate__fadeInDown {
  -o-animation-duration: 3s; }

.animate__fadeIn {
  -o-animation-duration: 3s; }

.product {
  display: flex;
  flex-direction: column;
  text-align: center; }

.product-Content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .product-Content .card {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #09182c;
    color: whitesmoke;
    margin: 1rem; }
    .product-Content .card h5 {
      display: flex;
      justify-content: center;
      font-size: 3rem; }
    .product-Content .card h6 {
      display: flex;
      justify-content: center;
      font-size: 2rem; }
    .product-Content .card p {
      padding-bottom: 2rem; }
    .product-Content .card a {
      display: flex;
      justify-content: center; }
    .product-Content .card:hover {
      transform: scale(1.1);
      transition: 500ms; }

.sitios .card {
  border-radius: 10px; }
  .sitios .card:hover {
    transform: scale(1.1);
    transition: 500ms; }

.container {
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  width: 15rem;
  height: 18rem;
  padding: 0%;
  margin-bottom: 2rem;
  text-align: center;
  background-color: #dfdfdf; }
  .container p {
    padding-top: 5%;
    padding-bottom: 10%; }
  .container button {
    font-size: 20px;
    font-variant: small-capss;
    width: 60%;
    border-radius: 10px;
    background-color: #4361EE;
    border-color: transparent; }
    .container button:hover {
      background-color: #74b6f7;
      transition: transform(0.6s); }
  .container .strong {
    font-weight: bolder;
    font-size: 20px;
    padding-top: 8%; }
  .container .line {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #4361EE;
    width: 80%;
    height: 2px; }

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 4%; }
  .box .box-Container {
    display: flex;
    justify-content: center;
    border: 2px solid;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-color: darkblue;
    background: linear-gradient(90deg, #eeaeca 0%, #94bbe9 100%);
    width: 15rem;
    height: 8rem;
    padding: 10px;
    margin: 3%;
    border-radius: 15px; }
    .box .box-Container:hover {
      transform: scale(1.1);
      transition: 500ms; }
  .box .box-Integrante {
    border: 2px solid;
    width: 10rem;
    height: 12rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-color: darkblue;
    background: linear-gradient(90deg, #eeaeca 0%, #94bbe9 100%);
    padding: 10px;
    margin: 30px;
    border-radius: 15px;
    perspective: 1000px; }
    .box .box-Integrante .box-Integrante-interior {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d; }

.box-Integrante:hover .box-Integrante-interior {
  transform: rotateY(180deg); }

.box-Integrante:hover .icon-Perfil {
  opacity: 0; }

.box-Integrante-frente, .box-Integrante-atras {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.box-Integrante-atras {
  transform: rotateY(180deg); }

.box-Integrante-atras p {
  padding-top: 20px; }

/**/
.icon-Perfil {
  width: 100px;
  height: 100px;
  opacity: 0.7;
  transform: none; }

.about_Subtitle {
  display: flex;
  justify-content: left;
  padding-left: 33%; }

.about_Subtitle2 {
  display: flex;
  justify-content: right;
  padding-right: 35%; }

.about_Descripcion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .about_Descripcion img {
    height: 15rem;
    margin: 0%;
    border-radius: 10px; }

.description-content {
  display: flex;
  justify-content: center;
  width: 70%; }
  .description-content p {
    margin: 3%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 90%;
    color: whitesmoke;
    background-color: #212529;
    border-radius: 30px;
    text-align: center; }

.clients {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .clients img {
    width: 40%; }
  .clients .clients_content {
    padding: 0%;
    padding-top: 2%;
    font-size: 1.2rem;
    flex-direction: column; }
    .clients .clients_content .logo-container {
      width: 100%; }
      .clients .clients_content .logo-container .logo-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; }
        .clients .clients_content .logo-container .logo-images img {
          width: 20%;
          height: 10%;
          padding: 3%; }

.work-description p {
  width: 60%; }

.work {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

/*formulario*/
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .formulario .inputs {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .formulario input {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    opacity: 0.6;
    width: 100%;
    padding: 5px;
    margin-bottom: 1rem;
    border-radius: 30px; }
  .formulario textarea {
    background-color: whitesmoke;
    opacity: 0.6;
    width: 100%;
    padding: 10px;
    border-radius: 15px; }
  .formulario label {
    display: flex;
    justify-content: center; }
  .formulario label input {
    width: 5%;
    margin: 0%; }
  .formulario .buttons {
    width: 50%;
    display: flex;
    flex-direction: column; }
    .formulario .buttons button {
      margin: 0%;
      display: flex;
      justify-content: center;
      background-color: whitesmoke;
      color: black;
      opacity: 0.6;
      margin-top: 0.5rem;
      width: 100%;
      padding: 5px;
      border-radius: 15px; }
    .formulario .buttons .btn-close {
      width: 10%;
      background-color: #4361EE; }

.map {
  display: flex;
  justify-content: center; }

iframe {
  width: 40rem;
  height: 15rem; }

@media only screen and (max-width: 1300px) and (min-width: 768px) {
  .carrusel .interior {
    width: 55%; }
  .about_Descripcion img {
    width: 40%;
    height: 15rem; }
  .about_Descripcion .description-content {
    width: 100%; }
  .clients .clients_content .logo-container .logo-images img {
    width: 25%; } }

@media only screen and (max-width: 790px) and (min-width: 600px) {
  h2 {
    padding-top: 10%;
    text-align: center; }
  .box {
    flex-direction: column; }
  .box-Container {
    margin: 0%;
    margin-top: 10%;
    width: 80%;
    padding: 10%;
    height: 30%; }
  .section.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .about_Subtitle {
    justify-content: center;
    padding: 0%;
    padding-top: 10%; }
  .about_Subtitle2 {
    justify-content: center;
    padding: 0%;
    padding-top: 10%; }
  .about_Descripcion {
    justify-content: center; }
  .about_Descripcion img {
    width: 60%;
    height: 40%; }
  .about_Descripcion p {
    padding: 20px 10px 10px 10px; }
  .description-content {
    width: 100%; }
  table {
    padding: 0px; }
  /*Carousel*/
  .carrusel {
    padding: 0%;
    padding-top: 10%; }
    .carrusel .interior {
      width: 70%; }
  /**/
  .about h2 {
    padding: 0px;
    display: flex;
    justify-content: center; }
  .clients {
    flex-direction: column;
    align-items: center; }
    .clients img {
      width: 60%;
      align-items: center; }
    .clients .clients_content .logo-container .logo-images img {
      width: 30%; }
  .work {
    display: flex;
    justify-content: center; }
  .formulario {
    margin-left: 10%;
    margin-right: 20%;
    width: 80%; }
    .formulario .inputs {
      width: 100%; }
    .formulario .buttons {
      width: 80%; }
  iframe {
    width: 80%;
    height: 15rem; }
  .footer_Links {
    display: flex;
    flex-direction: column; } }

@media only screen and (max-width: 600px) and (min-width: 200px) {
  .carrusel {
    padding: 0%;
    padding-top: 10%; }
    .carrusel .interior {
      width: 100%; }
  .clients {
    flex-direction: column;
    align-items: center; }
    .clients img {
      width: 75%; }
    .clients .clients_content .logo-container .logo-images img {
      width: 40%; }
  .about_Subtitle {
    justify-content: center;
    padding: 0%;
    padding-top: 10%; }
  .about_Subtitle2 {
    justify-content: center;
    padding: 0%;
    padding-top: 10%; }
  .description-content {
    width: 100%; }
    .description-content p {
      width: 100%; }
  .formulario .buttons {
    padding: 0%; }
  iframe {
    width: 80%;
    height: 15rem; }
  .footer_Links {
    display: flex;
    flex-direction: column; } }
