body {
  font-family: 'Muli', sans-serif;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #ab66ff 0%, #74b6f7 90%);
  margin: 0px; }

h1 {
  margin: 0px;
  margin-right: 0px;
  width: 50%;
  padding-left: 2rem;
  font-size: 25px;
  letter-spacing: 2px;
  color: #41BBD9;
  font-style: italic; }
  h1 a {
    font-size: 2rem; }
    h1 a:hover {
      background-color: transparent; }
  h1 .mitadLogo {
    text-transform: uppercase; }

h2 {
  padding-top: 50px;
  display: flex;
  justify-content: center; }

h3 {
  padding-left: 10px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center; }

a {
  color: whitesmoke;
  text-decoration: none;
  padding: 6px; }
  a:hover {
    color: #41BBD9;
    transition: 250ms all;
    text-decoration: none; }

/*header*/
header {
  background-color: #212529;
  height: 5.2rem;
  width: 100%; }
  header .header {
    width: 100%;
    padding-top: 1.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }

ol {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
  padding-right: 0.7rem; }
  ol li {
    display: inline; }

.menu ul {
  display: none;
  padding: 0.2rem; }

.menu:hover ul {
  display: block;
  position: absolute;
  background-color: #212529; }

.menu .subMenu li {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 5px; }

/*footer*/
footer {
  background-color: #09182c;
  margin-top: 4rem;
  flex-shrink: 0;
  padding-top: 2rem; }
  footer img {
    width: 40px; }

/*Table*/
.product-Content {
  display: flex;
  justify-content: center;
  flex-direction: row; }
  .product-Content table {
    display: flex;
    justify-content: center;
    width: 20rem; }
    .product-Content table tr, .product-Content table td {
      padding: 20px;
      border: 1px solid;
      color: whitesmoke;
      background-color: #09182c;
      opacity: 0.9;
      border-color: black; }
    .product-Content table img {
      width: 90%;
      height: 60px; }

/*contenido*/
section {
  padding: 2rem; }

article {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-top: 40px; }

p {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 5px; }

/***************Carousel**************/
.carrusel {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; }
  .carrusel .interior {
    width: 40%;
    padding: 0%; }
    .carrusel .interior .carousel-inner img {
      height: 22rem;
      border-radius: 5%;
      transform: none; }

/**/
.product-Content {
  display: flex;
  justify-content: center;
  flex-direction: row; }

.container {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  text-align: center; }
  .container:hover {
    background-color: #4361EE;
    transition: 300ms all; }

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 4%; }
  .box .box-Container {
    display: flex;
    justify-content: center;
    border: 2px solid;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-color: darkblue;
    background: linear-gradient(90deg, #eeaeca 0%, #94bbe9 100%);
    width: 15rem;
    height: 8rem;
    padding: 10px;
    margin: 3%;
    border-radius: 15px; }
  .box .box-Integrante {
    border: 2px solid;
    width: 10rem;
    height: 12rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-color: darkblue;
    background: linear-gradient(90deg, #eeaeca 0%, #94bbe9 100%);
    padding: 10px;
    margin: 30px;
    border-radius: 15px;
    perspective: 1000px; }
    .box .box-Integrante .box-Integrante-interior {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d; }

.box-Integrante:hover .box-Integrante-interior {
  transform: rotateY(180deg); }

.box-Integrante:hover .icon-Perfil {
  opacity: 0; }

.box-Integrante-frente, .box-Integrante-atras {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.box-Integrante-atras {
  transform: rotateY(180deg); }

.box-Integrante-atras p {
  padding-top: 20px; }

/**/
.icon-Perfil {
  width: 100px;
  height: 100px;
  opacity: 0.7;
  transform: none; }

.about_Subtitle {
  display: flex;
  justify-content: left;
  padding-left: 33%; }

.about_Subtitle2 {
  display: flex;
  justify-content: right;
  padding-right: 35%; }

.about_Descripcion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.about_Descripcion p {
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 60%;
  background-color: steelblue;
  border-radius: 30px; }

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/*formulario*/
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .formulario .inputs {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .formulario input {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    opacity: 0.6;
    width: 100%;
    padding: 5px;
    margin-bottom: 1rem;
    border-radius: 30px; }
  .formulario textarea {
    background-color: whitesmoke;
    opacity: 0.6;
    width: 100%;
    padding: 10px;
    border-radius: 15px; }
  .formulario label {
    display: flex;
    justify-content: center; }
  .formulario label input {
    width: 5%;
    margin: 0%; }
  .formulario .buttons {
    width: 50%;
    display: flex;
    flex-direction: column; }
    .formulario .buttons button {
      margin: 0%;
      display: flex;
      justify-content: center;
      background-color: whitesmoke;
      opacity: 0.6;
      margin-top: 0.5rem;
      width: 100%;
      padding: 5px;
      border-radius: 15px; }

.map {
  display: flex;
  justify-content: center; }

@media (max-width: 700px) {
  header {
    height: 7rem; }
    header .header {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      header .header a {
        display: flex;
        justify-content: center; }
      header .header h1 {
        width: 100%;
        margin: 0px;
        padding: 0%; }
      header .header ol {
        padding-left: 0px;
        padding-right: 0rem;
        margin: 0px;
        width: 100%; }
  h2 {
    padding-top: 20%;
    text-align: center; }
  .box {
    flex-direction: column; }
  .box-Container {
    margin: 0%;
    margin-top: 10%;
    width: 80%;
    padding: 10%;
    height: 30%; }
  .section.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .about_Subtitle {
    justify-content: center;
    padding: 0%;
    padding-top: 10%; }
  .about_Subtitle2 {
    justify-content: center;
    padding: 0%;
    padding-top: 10%; }
  .about_Descripcion {
    justify-content: center; }
  .about_Descripcion img {
    width: 100%;
    height: 40%; }
  .about_Descripcion p {
    padding: 20px 10px 10px 10px; }
  table {
    padding: 0px; }
  /*Carousel*/
  .carrusel {
    padding: 0%;
    padding-top: 10%; }
    .carrusel .interior {
      width: 100%; }
      .carrusel .interior .carousel-inner img {
        width: 10rem;
        height: 12rem; }
  /**/
  .about h2 {
    padding: 0px;
    display: flex;
    justify-content: center; }
  .work {
    display: flex;
    justify-content: center; }
  .formulario {
    margin-left: 10%;
    margin-right: 20%;
    width: 80%; }
    .formulario .inputs {
      width: 100%; }
    .formulario .buttons {
      width: 80%; }
  iframe {
    width: 80%;
    height: 100%; }
  .footer_Links {
    display: flex;
    flex-direction: column; } }
