@import"_var";
/*contenido*/
section{
    padding: 2rem;
    
}
article{
    @include flex-center;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    padding-top:40px;
}
p{
    @include flex-center;
    text-align: center;
    margin: 5px;
}
.descripcion{
    p{
        @include flex-center;
        width: 80%
    }
}
/***************Carousel**************/
.carrusel{
    @include flex-center;
    flex-wrap:nowrap;
    .interior{
        width: 40%;      
        padding: 0%;
        .carousel-inner{ 
            img{
                border-radius: 5%;
                transform: none;
            }
        }
    }
}
.faq{
    .accordion{
        background-color: #09182c;
        color: whitesmoke;
        h2{
            padding: 10px;
            background-color: #09182c;
        }
        .accordion-button{
            background-color: #09182c;
            color: whitesmoke;
        }
        .accordion-header{
            background-color: #09182c;
        }
        .accordion-item{
            background-color:#3988ee ;
        }
        .accordion-body{
            background-color: transparent;
        }
    }
}
/**/
.animate__fadeInDown{
    -o-animation-duration: 3s;
}
.animate__fadeIn{
    -o-animation-duration: 3s;
}
.product{
    @include flex-column;
    text-align: center;
}
.product-Content{
    @include flex-row-center;
    flex-wrap: wrap;
    .card{
        @include flex-center;
        border-radius: 10px;
        background-color: #09182c;
        color: whitesmoke;
        margin: 1rem;
        h5{
            @include flex-center;
            font-size: 3rem;
        }
        h6{
            @include flex-center;
            font-size: 2rem;
        }
        p{
            padding-bottom: 2rem;
        }
        a{
            @include flex-center;
        }
        &:hover{
            transform: scale(1.1);
            transition: 500ms;
        }
    }
}
.sitios{
    .card{
        border-radius: 10px;
        &:hover{
            transform: scale(1.1);
            transition: 500ms;
        }
    }
}
.container{
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0, 0.3);
    width: 15rem;
    height: 18rem;
    padding: 0%;
    margin-bottom: 2rem;
    text-align: center;
    background-color:#dfdfdf;
    p{
        padding-top: 5%;
        padding-bottom: 10%;
    }
    button{
        font-size:20px;
        font-variant: small-capss;
        width: 60%;
        border-radius: 10px;
        background-color: #4361EE;
        border-color: transparent;
        &:hover{
            background-color: rgba(116,182,247,1);
            transition: transform(0.6s);
        }
    }
    .strong{
        font-weight: bolder;
        font-size: 20px;
        padding-top: 8%;
    }
    .line{
        margin-left: 10%;
        margin-right: 10%;
        background-color: #4361EE;
        width: 80%;
        height:2px;
    }
}
.box{
    @include flex-center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 4%;
    .box-Container{
        @include flex-center;
        border: 2px solid;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0, 0.3);
        border-color: darkblue;
        background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        width: 15rem;
        height: 8rem;
        padding:10px;
        margin:3%;
        border-radius: 15px;
        &:hover{
            transform: scale(1.1);
            transition: 500ms;
        }

    }
    .box-Integrante{
        border: 2px solid;
        width: 10rem;
        height: 12rem;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0, 0.3);
        border-color: darkblue;
        background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        padding: 10px;
        margin: 30px;
        border-radius: 15px;
        perspective: 1000px;
        .box-Integrante-interior {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
    }
}

.box-Integrante:hover .box-Integrante-interior {
    transform: rotateY(180deg);
}
.box-Integrante:hover .icon-Perfil{
    opacity: 0;
}
.box-Integrante-frente, .box-Integrante-atras {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.box-Integrante-atras {
    transform: rotateY(180deg);
}
.box-Integrante-atras p{
    padding-top: 20px;
}
/**/
.icon-Perfil
{
    width: 100px;
    height: 100px;
    opacity: 0.7;
    transform: none;
}
.about_Subtitle{
    display:flex;
    justify-content: left;
    padding-left: 33%;
}
.about_Subtitle2{
    display:flex;
    justify-content: right;
    padding-right: 35%;
}
.about_Descripcion{
    @include flex-row;
    flex-wrap: wrap;
    img{
        height: 15rem;
        margin: 0%;
        border-radius: 10px;
    }
}
.description-content {
    @include flex-center;
    width: 70%;
    p{
        margin: 3%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 90%;
        color: whitesmoke;
        
        background-color: #212529;
        border-radius: 30px;
        text-align: center;
    }
}
.clients{
    @include flex-row-center;
    img{
         width: 40%;
    }
    .clients_content{
        padding: 0%;
        padding-top: 2%;
        font-size: 1.2rem;
        flex-direction: column;
        .logo-container{
            width: 100%;
            .logo-images{
                @include flex-row-center;
                flex-wrap: wrap;
                img{
                    width: 20%;
                    height: 10%;
                    padding: 3%;
                }
            }
        }
    }   
}
.work-description{
    p{
        width: 60%
    }
}
.work{
    @include flex-center;
    flex-wrap: wrap;
}
/*formulario*/
.formulario
{
    @include flex-column;
    align-items: center;
    width: 100%;
    .inputs{
        width: 60%;
        @include flex-center;
        flex-direction: column;
    }
    input{
        background-color: whitesmoke;
        @include flex-center;
        opacity: 0.6;
        width: 100%;
        padding: 5px;
        margin-bottom: 1rem;
        border-radius: 30px;
    }
    textarea{
        background-color:whitesmoke;
        opacity: 0.6;
        width: 100%;
        padding: 10px;
        border-radius: 15px;
    }
    label{
        @include flex-center;
    }
    label input{
        width: 5%;
        margin: 0%;
    }
    .buttons{
        width: 50%;
        @include flex-column;
        button{
            margin: 0%;
            @include flex-center;
            background-color: whitesmoke;
            color: black;
            opacity: 0.6;
            margin-top:0.5rem;
            width: 100%;
            padding: 5px;
            border-radius: 15px;
        }
        .btn-close{
            width: 10%;
            background-color:#4361EE;
        }
    }
}
.map{
    @include flex-center;
}
iframe{
    width: 40rem;
    height: 15rem;
}