/*Table*/
.product-Content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    table{
        display: flex;
        justify-content: center;
        width: 20rem;
        tr, td {
            padding: 20px;
            border: 1px solid;
            color:whitesmoke;
            background-color:#09182c;
            opacity: 0.9;
            border-color: black;
        }
        img{
            width: 90%;
            height: 60px;
        }
    }
}