@import "_var";
html{
    width: 100%;
    margin: 0%;
}
body{
    font-family:'Muli', sans-serif;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );;
    margin: 0px;
}
:root {
    --animate-duration: 1500ms;
    --animate-delay: 0.9s;
  }
h1{
    letter-spacing: 2px;
    color:#41BBD9 ;
    font-style: italic;
    font-size: 2.5rem;
    .mitadLogo{
        text-transform:uppercase;
    }
}
h2{
    padding-top: 6rem;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    @include flex-center;
}
h3{
    padding-left: 10px;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    @include flex-center;
}
a{
    color: whitesmoke;
    text-decoration: none;
    padding: 6px;
    &:hover{
        color: #41BBD9;
        transition: 250ms all;
        text-decoration: none;
    }
}
/*header*/
header{
    background-color: #212529;
    height: 5.2rem;
    width: 100%;
    .header{
        width: 100%;
        position: relative;
        z-index: 2;
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        nav{
            width: 100%;
        }
    }
}

/*footer*/
footer{
    background-color: #09182c;
    margin-top: 4rem;
    flex-shrink:0;
    padding-top: 2rem;
    img{
        width: 40px;
    }
}